[build]
  publish = "gravitational-particles.go-main"
  # No build command needed for a static site

# Redirects not needed when we rename to index.html
  
[[headers]]
  for = "/*"
    [headers.values]
    Cache-Control = "public, max-age=3600"

[dev]
  command = "npm run dev"
  port = 3000
  publish = "gravitational-particles.go-main" 